/*---顏色
紅色 #F45B0F
黃色 #FFD726
藍色 #048ECB
黑色 #161616
白色 #FFFFFF
---*/

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  background-image: url(../images/index-Inn.svg);
}

a {
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 1px;
}

.main {
  background-color: #ffffffe8;
  padding: 60px 30px;
}

.main_wrapper {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* about me */
.about_me {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.profile_img {
  background-image: url(../images/profile_img.jpg);
  background-size: contain;
  min-width: 300px;
  height: 300px;
}

.about_content {
  padding: 20px;
}

.about_title {
  margin: 0;
  font-size: 2rem;
}

.about_text {
  margin: 20px 0;
  font-size: 1rem;
  line-height: 1.5;
}

.action_links {
  display: flex;
  flex-wrap: wrap;
}

.action_btn {
  background-color: #161616;
  border: 3px solid #161616;
  color: #ffffff;
  padding: 5px 10px;
  margin: 8px;
  cursor: pointer;
}

.hover_red:hover {
  background-color: #f45b0f;
}

.hover_yellow:hover {
  background-color: #ffd726;
}

.hover_blue:hover {
  background-color: #048ecb;
}

/* my projects */
.projects {
  display: flex;
  flex-wrap: wrap;
}

.my_project {
  display: flex;
  align-items: center;
  flex: 1 1 100%;
  margin: 30px 0;
}

.project_img img {
  flex: 0 1 auto;
  width: 300px;
}

.project_content {
  padding: 10px 20px;
  flex-grow: 1;
}

.project_link {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1040px) {
  .project_link {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.project_title {
  margin: 0 30px;
}

.project_btn {
  justify-content: end;
  background-color: #161616;
  border: 2px solid #161616;
  width: fit-content;
  height: fit-content;
  padding: 5px 10px;
  margin: 5px 0;
  color: #090909;
  font-size: 1rem;
  font-weight: bold;
}

.project_btn:hover {
  transform: scale(1.2);
}

.project_text {
  line-height: 1.5;
}

.project_text li {
  margin-top: 8px;
}

.seemore_btn {
  float: right;
  color: #161616;
  font-weight: bold;
  cursor: pointer;
}

.seemore_btn:hover {
  transform: scale(1.2) rotate(-5deg);
}

@media (max-width: 768px) {
  .main_wrapper {
    max-width: 90%;
  }
  .about_me {
    flex-wrap: wrap-reverse;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .profile_img img {
    background-repeat: no-repeat;
    margin: auto;
  }

  .action_links {
    justify-content: center;
  }
  .my_project {
    flex-wrap: wrap;
  }
  .project_img {
    margin: auto;
  }
  .project_link {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  
}

@media (max-width: 400px) {
  .project_img img {
    width: 100%;
  }
}

@media (max-width: 360px) {
  .main_wrapper {
    max-width: 100%;
    padding: 50px 10px;
  }
  .profile_img img {
    width: 100%;
  }
  .contact {
    text-align: center;
  }

  .project_img img {
    width: 100%;
  }
}
