/*---顏色
紅色 #F45B0F
黃色 #FFD726
藍色 #048ECB
黑色 #161616
白色 #FFFFFF
---*/

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  background-image: url(../images/projects-Waihou.svg);
}

a {
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 1px;
}

h1 {
  text-align: center;
  text-wrap: nowrap;
}

.nav_change {
  border-bottom: 2px solid #ffffff;
}

.main {
  background-color: #ffffffe8;
  padding: 50px 30px;
}

.main_wrapper {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* my projects */
.my_project {
  display: flex;
  justify-content: center;
  margin: 30px auto;
}

.project_img {
  flex: 0 1 auto;
  background-color: #9a9a9a;
  min-width: 200px;
  height: 200px;
}

.project_content {
  padding: 10px 20px;
}
.project_link {
  display: flex;
  justify-content: space-between;
  align-items: self-end;
}

.project_title {
  margin: 0 30px;
}

.project_btn {
  justify-content: end;
  background-color: #161616;
  border: 2px solid #161616;
  width: fit-content;
  height: fit-content;
  padding: 5px 10px;
  color: #090909;
  font-size: 1rem;
  font-weight: bold;
}

.project_btn:hover {
  transform: scale(1.2);
}

.project_text {
  line-height: 1.5;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }
  .main {
    padding: 20px 10px;
  }
  .main_wrapper {
    max-width: 90%;
  }
  .about_me {
    flex-wrap: wrap;
    padding: 0;
  }
  .profile_img {
    order: 2;
    min-width: 100%;
    margin: auto;
  }
  .about_content {
    order: 1;
  }
  .action_links {
    justify-content: center;
  }
  .my_project {
    flex-wrap: wrap;
  }
  .project_img {
    margin: auto;
  }
  .project_title {
    text-align: center;
  }
  .project_link{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
   }
}

@media (max-width: 360px) {
  h1 {
    margin: 10px;
    font-size: 1.5rem;
  }
  .main_wrapper {
    max-width: 100%;
  }
  .profile_img {
    width: 100%;
  }
  .contact {
    text-align: center;
  }
}
